<!DOCTYPE html>
<html>
  <head>
      <title> Prob</title>
      <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="text.css" />
  </head>
  <body>
         <div id="heading">
           
            <div id="headt">
              
               <div id="logo">
                  <a href="#home"> <img src="logo.png"> </a>
              
               </div><div id="menu">
                   Hi, Andrei Ivanov  &nbsp  &nbsp | &nbsp  &nbsp <a href="#home">Manage account</a> &nbsp  &nbsp   |  &nbsp &nbsp <a href="#home">Logout</a> &nbsp  &nbsp  |  &nbsp 
          
               </div>
            </div>
       
       
         </div>   
        
        
        <div id="main">
            
            
        </div>
        
        <div id="footer">
            
            
        </div>
            
            
         
         
        
    
  </body>
  
</html>
    