<!DOCTYPE html>
<html>
  <head>
      <title> Prob</title>
      <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/static/text.css" />
      <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
      <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
      <script src="http://jqueryui.com/resources/demos/external/jquery.bgiframe-2.1.2.js"></script>
      <script src="/static/bootstrap/js/bootstrap.js"></script>
      <script type="text/javascript" src="/static/scroll/jquery.slimscroll.min.js"></script>
      <style type="text/css">.CodeMirror {border: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf;}</style>

       <script type="text/javascript" src="/static/java.js"></script>
    <!-- SIGNUP FORM -->
 
    <link rel="stylesheet" href="/static/j-query.css" />
    <style>
    input.text { margin-bottom:5px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:5px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }   
    </style>
  </head>
  <body style=" background-image: url('/static/backhome.png'); background-position: center; ">
    <div class="alert" style="display: none"> Signup ok. Now you can login.</div>
    
    

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Getting started</h3>
  </div>
  <div class="modal-body">
    <h1>What is it all about?</h1>
    <p>Testcode allows teachers to post coding problems for students to solve in class. 
Teachers are able to view results from the class instantly, and students code is run against teacher-specified test cases, allowing for immediate feedback.
</p>
   <h1>Who is this site for?</h1>
<p>For teachers of programming courses who want to improve their class experience, tailor their lectures to their students' strengths and weaknesses, and identify and help struggling students.  
For students who want to enhance their learning in a programming course. 
</p>
 <h1>How does it work?</h1>
<p>Teachers create courses, lectures, problems, and test cases. Students register for their courses with the course id and course password distributed by the teacher. As the teacher adds lectures and problems, they appear on the student's screen. Students enter their solutions, and click "Save & Run" and their code is tested against the test cases made by the teacher. Teachers can view their students' performance using interactive filtering, 
</p>
<h2>Ready? <a href='#'> Sign up now! </a></h2>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>    
  </div>
</div>
    


<div id="dialog-form" title="Create new user">
  <p class="validateTips" id="signup_message_box">All form fields are required.</p>
 
  <form> 
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
   <label for="password">User type</label>
   <INPUT TYPE="radio" NAME="q1" VALUE="1" />Teacher &nbsp  &nbsp &nbsp
   <INPUT TYPE="radio" NAME="q1" VALUE="0"/>Student
  </fieldset>
  </form>
</div>

<div id="dialog-form1" title="Login">
 <p class="validateTips" id="login_message_box"></p>
 
  <form>
  <fieldset>
    <label for="name">Email</label>
    <input type="text" name="email" id="emaillogin" class="text ui-widget-content ui-corner-all" />
     <label for="password">Password</label>
    <input type="password" name="password" id="passwordlogin" value="" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>
           <script>
           $("#start").click(function(){$("#dialog-form").dialog('open'); $('#myModal').modal('hide')})
           </script>
           
           
           
      <div id="heading">  
           
           
           
            <div id="headt">
              
               <div id="logo">
                  <a href="#home" id="start"> <img src="/static/logo1.png"> </a>
               </div>
                
               <div id="toprighthome">
                  
                    
                               <ul class="nav">
                                     <div class="btn-group in"><button class="btn" type="button"><i class="icon-home"></i> Home</button></div>
                                     <div class="btn-group in"><button class="btn" type="button" id="login-user"><i class="icon-user"></i>  Sign in</button></div>
                                    <div class="btn-group in"> <button class="btn" type="button" id="create-user"><i class="icon-plus-sign"></i> Sign up</button></div>
                                   
                               </ul>
                 
                   
             
               </div>
              
         </div>   
        </div>
        
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
         <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
    
        
        
        
       <!-- <div id="sep"> </div> -->
        
        <div id="container">
            <div id="fortext">  <button href="#myModal" role="button" class="btn btn-large btn-success" data-toggle="modal"><span style=" font-family: 'Trebuchet MS', sans-serif">Getting started</span></a> </div>   
              
              
        </div>
        
        
        
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
         <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        
        
     <!--    
        <div id="footer">
        </div>  
          -->
        
    
  </body>
  
</html>
    