<!DOCTYPE html>
<html>
  <head>
      <title> Prob</title>
      <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/static/text.css" />
      <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
      <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
      <script src="http://jqueryui.com/resources/demos/external/jquery.bgiframe-2.1.2.js"></script>
       <script src="/static/bootstrap/js/bootstrap.js"></script>
      <link rel="stylesheet" href="/static/code/lib/codemirror.css">
      <script src="/static/code/lib/codemirror.js"></script>
      <script src="/static/code/lib/matchbrackets.js"></script>
      <script src="/static/code/python.js"></script>
      <script type="text/javascript" src="/static/java.js"></script>
    <link rel="stylesheet" href="/static/j-query.css" />
      <script type="text/javascript" src="/static/scroll/jquery.slimscroll.min.js"></script>
      
      <style type="text/css">.CodeMirror {border: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf;}</style>              
     
      
     
      <style>
         input.text { margin-bottom:5px; width:95%; padding: .4em; }
         fieldset { padding:0; border:0; margin-top:5px; }
         h1 { font-size: 1.2em; margin: .6em 0; }
         .ui-dialog .ui-state-error { padding: .3em; }
         .validateTips { border: 1px solid transparent; padding: 0.3em; }   
    </style>
      

      <script>  $(document).ready(function(){
            $("#description").slimScroll({
                height: '247px'
                })
            $("#feedback").slimScroll({
                height: '300px'
                })
      });
            </script>
  
  </head>
  <body>
    
        <div id="dialog-formclass" title="Create a class">
 
             <form>
                <fieldset>
                    <label for="name">Class name</label>
                    <input type="text" name="email" id="nameclass" class="text ui-widget-content ui-corner-all" />
                    <label for="password">Student password</label>
                    <input type="password" name="password" id="passwordstudent" value="" class="text ui-widget-content ui-corner-all" />
                     <label for="password">Teacher password</label>
                    <input type="password" name="password" id="passwordteacher" value="" class="text ui-widget-content ui-corner-all" />
                               
                </fieldset>
            </form>
             
             
             
        </div>
        
        
        <div id="dialog-formaddclass" title="Add class">
 
             <form>
                <fieldset>
                    <label for="name">Class ID</label>
                    <input type="text" name="email" id="idclass" class="text ui-widget-content ui-corner-all" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="passwordclass1" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
            </form>
        </div>
    
    
    
         <div id="heading">
           
            <div id="headt">
              
               <div id="logo">
                  <a href="#home"> <img src="/static/logo1.png"> </a>
                  
                </div>
               <div id="topright">
                  
                    <div class="navbar smalle">
                        <div class="navbar-inner">
                               <a class="brand" href="#">Hi, Andrei Ivanov</a>
                         </div>
                        </div>
                               <ul class="nav">
                                     <div class="btn-group in"><button class="btn" type="button"><i class="icon-home"></i> Home</button></div>
                                     <div class="btn-group in"><button class="btn" type="button"><i class="icon-user"></i>  Account</button></div>
                                    <div class="btn-group in"> <button class="btn" type="button"><i class="icon-off"></i> Logout</button></div>
                                   
                               </ul>
                 
                   
             
               </div>
              
         </div>   
        </div>
        
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
         <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        <div id="cont1">
             
      
            <div id="prob_tabs">
              
               <ul class="nav nav-tabs">
                     <li class="active">
                           <a href="#">Problem 1</a>
                     </li>
                     <li><a href="#">Problem 2</a></li>
                     <li><a href="#">Problem 3</a></li>
               </ul>      
                
            </div>
            
            
        </div>
        
        
        
       <!-- <div id="sep"> </div> -->
        
        <div id="container">
               
                <div id="main" >
                    
                    <div id="containertop">
                        
                        
                        <div id="path">
                            
                            <ul class="breadcrumb">
                                <li><a href="#">6.01</a> <span class="divider">/</span></li>
                                <li><a href="#">Lecture 8</a> <span class="divider">/</span></li>
                                <li class="active">Centered average</li>
                            </ul>
                            
                        </div>
                    
                    
                        <div id="yourcode">
                           
                            <ul class="breadcrumb">
                                <li>Your code</li>
                                <div id="subms">
                                     <button class="btn1" type="button"> <i class="icon-ok icon-chevron-left"></i> Previous</button>
                                     Submissions
                                     <button class="btn1" type="button">Next <i class="icon-ok icon-chevron-right"></i></button>
                                </div>
                            </ul>
                            
                        </div>
                        
                        
                    </div>
                    
                    
                    <div id="containermain">
                        
                        
                        <div id="container2"> 
                           <div id="description">   <br/> <p> Return the "centered" average of an array of ints, which we'll say is the mean average of the values, except ignoring the largest and smallest values in the array. If there are multiple copies of the smallest value, ignore just one copy, and likewise for the largest value. Use int division to produce the final average. You may assume that the array is length 3 or more.
                                           </p>   <br/></div>
                            
                            <div id="feed">
                                <ul class="breadcrumb">
                                <li>Feedback</li>                               
                            </ul>                                
                            </div>
                            
                            <div id="feedback">
                                <br/>
                                <code>
                                    
                                Correct: 2/3 <br/>

                                Test 1: Correct <br/>
                                Input: <br/>
                                1 5 6 7 9 <br/>
                                Output <br/>
                                6<br/>
                                
                                Test 2: Correct<br/>
                                Input:<br/>
                                1 2 3<br/>
                                Output:<br/>
                                2<br/>
                                Test 3: Wrong<br/>
                                Input<br/>
                                5 5 5<br/>
                                Your output:<br/>
                                0<br/>
                                Correct output:<br/>
                                5</code>
                                <br/>   
                            </div>
                        </div>
                    
                        <div id="container3">
                        
                         <div id="textcode"><form><textarea id="code" name="code" cols="120" rows="400" style="background-color: #FFF"></textarea> </form> </div>
                                  <script>
                                      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                                      mode: {name: "python",
                                      version: 2,
                                      singleLineStringErrors: false},
                                      lineNumbers: true,
                                      indentUnit: 4,
                                      tabMode: "shift",
                                      matchBrackets: true
                                     });
                                  </script>                                              
                        </div>
                        
                        
                    </div>
                    <div id="containerbottom">                         
                              <div id="save"> 
                                 <div class="btn-group in"> <button class="btn btn-success" type="button"> <i class="icon-ok icon-white"></i> Save & Run</button> </div>                                
                                 <div class="btn-group in"> <button class="btn btn-danger" type="button"><i class="icon-refresh icon-white"></i> Reset</button> </div>
                              </div>
                        
                    </div>
                    
                    
                    
                </div>
              
        </div>
        
        
        
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
         <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        
        
        
        <div id="footer">
            
            
      
            
            
         
         
        
    
  </body>
  
</html>
    